#valinta {
  width: 30%;
  padding: 10px;
  margin: 10px;
  visibility: hidden;
}

select {
  width: 30%;
  padding: 2px;
  border-radius: 10px;
}

#fitness {
  visibility: hidden;
}

h1 {
  text-align: center;
}

#arska {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

td,
table {
  border: 1px solid black;
}

th {
  border: 2px solid grey;
  background-color: lightslategrey;
}

#cellHidden {
  border-color: white;
  background-color: white;
}

input {
  text-align: center;
  width: 80px;
}

#summa {
}

#taulukko {
  text-align: center;
  margin-left: 25%;
}

#lajit {
  width: 30%;
}

#moti {
  text-align: center;
}
